# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Python
- R
- Github

#### Some of the popular languages that Data Scientists use are:
#### 1. Python
#### 2. R
#### 3. Scala

#### Some of the commonly used libraries used by Data Scientists include:
#### 1. Pandas
#### 2. seaborn
#### 3. matplotlib

| Data Science Tools |
| --- |
| R Studio | 
| Google Colab |
| VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python
3*4=12

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Vedant